body{
	font-family: fantasy;
	margin:0;
	padding:0;
}

header{
	background: white;
	height:75px;
	margin:0px;
	padding-bottom:100px;
}

.menu{
	list-style-type: none;
	width:100%;
	margin:0;
	padding:0;
	height:40px;
}
.menu li{
	float:right;
	display:inline-block;
	padding-top: 8px;
}

.menu li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding-right: 20px;
}

.menu li a:hover{
	color: white;
}

.title{
	margin-top:20px;
}

.main-body{
	text-align:center;
	padding-top:70px;
	padding-bottom:70px;
	background-image: url('./images/bg-img.png');
}

.main-body-title{
	padding-bottom: 40px;
	font-size: 45px;
}

.main-para{
	font-size:20px;
	border-right-style:solid;
}

.main-para-text{
	padding-top: 70px;
	font-size: 20px;
}

.flyer{
	height: 300px;
}

.centre-divider{
	background: #a52422;
	height:330px;
	margin-top: 60px;
	padding:0;
	bottom:0px;
}

.mid-title{
	text-align:center;
	padding-top: 12px;
}

.centre{
	text-align:center;
}

.register h2{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size:60px;
}

.register p{
	font-size: 20px;
}

.speakers{
	margin-top:80px;
}

.speakers h2{
	padding-bottom:40px;
	font-size: 45px;
}

.space-bottom{
	padding-bottom: 30px;
}

.speaker-image{
	width:220px;
	border-radius: 100px;
}

.speaker-image-apostle{
	width: 300px;
	border-radius: 40%;
	border-radius: 100px;
}

.speaker span{
	font-size:20px;
}

footer{
	height: 600px;
}